#navbar{
    width: 100%;
    height: 70px;
    display: flex;
    
    background-color: aqua;
    gap: 70px;
    text-align: center;
    
    
}
#navbar>a>h1{
text-align: left;
}
#navbar>a{
    text-decoration: none;
}
#movies{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#movies>div{
    height: 500px;
    width: 70%;
    margin-bottom: 20px;

}
#movies>div>img{
    height: 100%;
    width: 100%;
}
